       
<!-- Start Grid from here -->
<div class="conainter">
  
  <div
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayout.md-lg = "row wrap"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
    <div fxFlexOrder="1" fxLayout="column">
      <div class="item"  id="paragraph"  fxFlex="20%">
        <div><span>64,162</span></div>
        <button mat-button style="font-size:8px;color:black">RESULT</button></div>
      <div class="item"  id="paragraph"   fxFlex="20%">
        <span>48,552</span>
        <div>
            <button mat-button style="font-size:8px;color:black">SOCIAL MEDIA RESULTS</button>
        </div>
      </div>
      <div class="item"  id="paragraph"  fxFlex="20%"><span>17,985</span>
        <div>
            <button mat-button style="font-size:8px;color:black">MEDIA TWEETS</button>
        </div>
       
      </div>
      <div class="item"  id="paragraph"   fxFlex="20%"><span>2,25,500</span>
        <div>
            <button mat-button style="font-size:8px;color:black">MEDIA SERVICE</button>
        </div>
       
      </div>
    </div>
    <div fxFlexOrder="1" fxLayout="column">
        <div class="item"  id="paragraph"  fxFlex="25%" fxFlexOrder="1">
          <span>12,001</span>
          <div>
              <button mat-button style="font-size:8px;color:black">MEDIA LIKES</button>
          </div>
        </div>
        <div class="item"  id="paragraph"  fxFlex="25%" fxFlexOrder="1"><span>1,22,444</span>
          <div>
              <button mat-button style="font-size:8px;color:black">MEDIA COMMENTS</button>
          </div>
          </div>
        <div class="item"  id="paragraph"  fxFlex="25%" fxFlexOrder="1"><span>5,55,555</span>
          <div>
              <button mat-button style="font-size:8px;color:black">POSITIVE COMMENTS</button>
          </div>
        </div>
        <div class="item"  id="paragraph"  fxFlex="25%" fxFlexOrder="1"><span>12,22,548</span>
          <div>
              <button mat-button style="font-size:8px;color:black">NEGATIVE COMMENTS</button>
          </div>
        </div>
  </div>
   
 <div class="item-3" fxFlex="50%">
   <mat-card class="example-card">
     <mat-card-header>
       <div mat-card-avatar class="example-header-image"></div>
       <mat-card-title>Soch <span style="font-size:15px;color:lightslategrey">added a video</span></mat-card-title>
       <mat-card-subtitle><i class="material-icons" style="color:blue">share</i><a href="https://www.facebook.com">facebook.com</a><span style="padding-left:120px"><i class="material-icons" style="color:blue;" fxLay>date_range</i>03 Dec,2018 03:15:11 PM</span></mat-card-subtitle>
     </mat-card-header>
     <img id="img" mat-card-image src="../../assets/1.jpg" alt="Photo of a Shiba Inu">
     <mat-card-content>
       <p id="para">
         The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
         A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
         bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
         A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
         bred for hunting.
       </p>
     </mat-card-content>
     <mat-card-actions id="actions">
       <button mat-button><i class="material-icons">favorite_border</i></button>
       <button mat-button><i class="material-icons">chat_bubble_outline</i></button>
       <button mat-button><i class="material-icons">mood</i></button>
       <button mat-button><i class="material-icons">mood_bad</i></button>
       <button mat-button><i class="material-icons">sentiment_very_dissatisfied</i></button>
     </mat-card-actions>
   </mat-card>
   <br>
   <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Soch <span style="font-size:15px;color:lightslategrey">added a video</span></mat-card-title>
        <mat-card-subtitle><i class="material-icons" style="color:cornflowerblue">share</i><a href="https://www.twitter.com">twitter.com</a><span style="padding-left:120px"><i class="material-icons" style="color:cornflowerblue;" fxLay>date_range</i>03 Dec,2018 03:15:11 PM</span></mat-card-subtitle>
      </mat-card-header>
      <img id="img" mat-card-image src="../../assets/1.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p id="para">
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions id="actions">
        <button mat-button><i class="material-icons">favorite_border</i></button>
        <button mat-button><i class="material-icons">chat_bubble_outline</i></button>
        <button mat-button><i class="material-icons">mood</i></button>
        <button mat-button><i class="material-icons">mood_bad</i></button>
        <button mat-button><i class="material-icons">sentiment_very_dissatisfied</i></button>
      </mat-card-actions>
    </mat-card>
    <br>
    <mat-card class="example-card">
       <mat-card-header>
         <div mat-card-avatar class="example-header-image"></div>
         <mat-card-title>Soch <span style="font-size:15px;color:lightslategrey">added a video</span></mat-card-title>
         <mat-card-subtitle><i class="material-icons" style="color:red">share</i><a href="https://www.youtube.com">youtube.com</a><span style="padding-left:120px"><i class="material-icons" style="color:red;" fxLay>date_range</i>03 Dec,2018 03:15:11 PM</span></mat-card-subtitle>
       </mat-card-header>
       <img id="img" mat-card-image src="../../assets/1.jpg" alt="Photo of a Shiba Inu">
       <mat-card-content>
         <p id="para">
           The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
           A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
           bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
           A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
           bred for hunting.
         </p>
       </mat-card-content>
       <mat-card-actions id="actions">
        <button mat-button><i class="material-icons">favorite_border</i></button>
        <button mat-button><i class="material-icons">chat_bubble_outline</i></button>
        <button mat-button><i class="material-icons">mood</i></button>
        <button mat-button><i class="material-icons">mood_bad</i></button>
        <button mat-button><i class="material-icons">sentiment_very_dissatisfied</i></button>
        
      </mat-card-actions>
     </mat-card>
 </div>
</div>


<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <!-- <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Item 4</div> -->

  <div class="item3" id="paragraph"  fxFlex="25%">
    <span>48,552</span>
    <div>
        <mat-radio-group>
            <mat-radio-button  style="font-size:8px;color:black">SOCIAL MEDIA RESULT</mat-radio-button>
          </mat-radio-group>
    </div>
  
  </div>
  <div class="item3" id="paragraph"  fxFlex="25%">
      <span>48,552</span>
      <div>
          <mat-radio-group>
              <mat-radio-button  style="font-size:8px;color:black">SOCIAL MEDIA RESULT</mat-radio-button>
            </mat-radio-group>
      </div>

    </div>
    <div class="item3" id="paragraph"  fxFlex="25%">
        <span>48,552</span>
        <div>
            <mat-radio-group>
                <mat-radio-button  style="font-size:8px;color:black">SOCIAL MEDIA RESULT</mat-radio-button>
              </mat-radio-group>
        </div>
  
      </div>
      <div class="item3" id="paragraph"  fxFlex="25%">
          <span>48,552</span>
          <div>
              <mat-radio-group>
                  <mat-radio-button  style="font-size:8px;color:black">SOCIAL MEDIA RESULT</mat-radio-button>
                </mat-radio-group>
          </div>
         
      </div>
      <div class="item3" id="paragraph"  fxFlex="25%">
          <span>48,552</span>
          <div>
              <mat-radio-group>
                  <mat-radio-button style="font-size:8px;color:black">SOCIAL MEDIA RESULT</mat-radio-button>
                </mat-radio-group>
          </div>
          
        </div>
</div>

<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
<!-- <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Item 4</div> -->

<div class="empty"  fxFlex="30%"></div>
<div class="empty"  fxFlex="30%"></div>
<div class="empty"  fxFlex="30%"></div>

</div>

</div>


<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <canvas id="myChart" width="300" height="300"></canvas>
  <canvas id="myChart1" width="300" height="300"></canvas>
  <canvas id="myChart2" width="300" height="300"></canvas>

</div>
