<div class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutGap="0px"
  fxLayoutGap.xs="0">
<div  fxFlex="120%">
  <p><span style="font-size:18px;color:black;font-weight:200;padding-left: 20px">OVERVIEW | </span>DASHBOARD / OVERVIEW</p>
  <!-- <h2 style="padding-left: 53px;color:blue"><u>OverView</u> <span style="padding-left: 50px;color:black">People</span></h2> -->
  <mat-tab-group>
    <mat-tab label="OverView"> 
      <app-test2></app-test2>
  </mat-tab>
      <mat-tab label="People">
         <!-- <app-test3></app-test3>  -->
         
        </mat-tab>
  </mat-tab-group>
  </div>
</div>



  
               
         