<div class="container"
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div  fxFlex="60%" fxLayout="column">
        <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Soch <span>30 Minutes</span></mat-card-title>
                  <mat-card-subtitle><i class="material-icons" style="color:blue">share</i>Share the picture</mat-card-subtitle>
                </mat-card-header>
                <img id="img" mat-card-image src="../../assets/1.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p id="para">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions id="actions">
                  <button mat-button flexLayout="center"><i class="material-icons" style="size:2px;">favorite</i></button>
                  <button mat-button><i class="material-icons">add_alert</i></button>
                  <button mat-button><i class="material-icons">chat</i></button>
                </mat-card-actions>
              </mat-card>

              <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Soch <span>30 Minutes</span></mat-card-title>
                      <mat-card-subtitle><i class="material-icons" style="color:blue">share</i>Share the picture</mat-card-subtitle>
                    </mat-card-header>
                    <img id="img" mat-card-image src="../../assets/1.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p id="para">
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    <mat-card-actions id="actions">
                      <button mat-button flexLayout="center"><i class="material-icons" style="size:2px;">favorite</i></button>
                      <button mat-button><i class="material-icons">add_alert</i></button>
                      <button mat-button><i class="material-icons">chat</i></button>
                    </mat-card-actions>
                  </mat-card>
    </div>
    
    
    <div fxFlex="20%" fxLayout="column">
            <div class="item" fxFlex="15%" ><span>64,162</span><button mat-button style="font-size:12px;color:black">RESULTS</button></div>
            <div  class="item" fxFlex="15%" ><span>64,162</span><button mat-button style="font-size:12px;color:black">hello</button></div>
           
    </div>
    <div  fxFlex="20%" fxLayout="column">
            <div class="item"  fxFlex="15%" ><span>64,162</span><button mat-button style="font-size:12px;color:black">RESULTS</button></div>
            <div class="item"  fxFlex="15%" ><span>64,162</span><button mat-button style="font-size:12px;color:black">RESULTS</button></div>
            <div class="item"  fxFlex="15%" ><span>64,162</span><button mat-button style="font-size:12px;color:black">RESULTS</button></div>
            
    </div>
</div>
<!-- 
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Item 4</div>
  <div class="item item-5" fxFlex="200px">Item 5</div>
</div> -->