.item{
    background-color:#fff;
    width: 200px;
    border: 0px solid rgb(8, 8, 8);
    padding: 25px;
    margin: 25px;
    white-space: initial;
  }
  
  
  
  #paragraph{
    text-align: center;
    padding-top : 45px;
    font-size:25px;
    color :#5982F8;
    font-family: Arial, Helvetica, sans-serif;
    white-space: initial;
  }
  
  .item1{
    background-color:#fff;
    width: 280px;
    height: 250px;
    border: 0px solid rgb(8, 8, 8);
    padding: 25px;
    margin: 25px;
    white-space: initial;
  }
  
  .item3{
    background-color:#fff;
    width: 100px;
    height: 134px;
    border: 0px solid rgb(8, 8, 8);
    padding: 25px;
    margin: 25px;
    white-space: initial;
  }
  
  #font{
   size: 5px;
  }
  
  .empty{
    background-color:#fff;
    width: 100px;
    height: 200px;
    border: 0px solid rgb(8, 8, 8);
    padding: 25px;
    margin: 25px;
    white-space: initial;
  }
  
  .item4{
    background-color:#EFF3FC;
    // width: 20px;
    height: 70px;
    border: 0px solid rgb(8, 8, 8);
  
  }
  
  #heading1{
    padding: 8px;
    font-size: 10px
  }
  
  .pie {
    margin: 20px;
    white-space: initial;
  }
  
  .pie text{
    font-size: 3em;
    font-family: "Verdana";
    fill: #888;
    white-space: initial;
  }
  
  
  #img {
    width: 100px;
    margin-left: 0px;
    position: relative;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  #para {
    margin-inline-start: 110px;
    margin-top: -96px;
  }
  
  #actions{
    // margin-left: 100px;
      border: none;
      background: none;
      text-transform: uppercase;
      height: 100%;
      font-weight: 700;
      color: black;
      letter-spacing: 1px;
      font-size: inherit;
      transition: all 0.3s;
      outline: none;
  }
  
  // button:hover {
  //   color: white;
  //   background:ghostwhite;
  // }
  
  
  
  @media only screen and (max-width: 600px) {
  
  .item {
    width: 311px;
  }
  
  .item3 {
    width: 311px;
  }
  .empty {
    width: 311px;
  }
    
  #actions{
    margin-left: -19px;
    /* Adjust these values accordingly */
  }
  
  #img {
    width: 323px;
  }
  
  #para {
    margin: -11px;
  }
  
  
  }
  
  
  