<mat-card class="example-card">
  <mat-card-header >
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Soch <span style="font-size:15px;color:lightslategrey">added a video</span></mat-card-title>
    <mat-card-subtitle><i class="material-icons" style="color:blue">share</i><a href="https://www.facebook.com">facebook.com</a><span style="padding-left:120px"><i class="material-icons" style="color:blue;" fxLay>date_range</i>03 Dec,2018 03:15:11 PM</span></mat-card-subtitle>
  </mat-card-header>
  <img id="img" mat-card-image src="../../assets/1.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p id="para">
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions id="actions">
    <button mat-button><i class="material-icons">favorite_border</i></button>
    <button mat-button><i class="material-icons">chat_bubble_outline</i></button>
    <button mat-button><i class="material-icons">mood</i></button>
    <button mat-button><i class="material-icons">mood_bad</i></button>
    <button mat-button><i class="material-icons">sentiment_very_dissatisfied</i></button>
  </mat-card-actions>
</mat-card>
<br>
<mat-card class="example-card">
   <mat-card-header>
     <div mat-card-avatar class="example-header-image"></div>
     <mat-card-title>Soch <span style="font-size:15px;color:lightslategrey">added a video</span></mat-card-title>
     <mat-card-subtitle><i class="material-icons" style="color:cornflowerblue">share</i><a href="https://www.twitter.com">twitter.com</a><span style="padding-left:120px"><i class="material-icons" style="color:cornflowerblue;" fxLay>date_range</i>03 Dec,2018 03:15:11 PM</span></mat-card-subtitle>
   </mat-card-header>
   <img id="img" mat-card-image src="../../assets/1.jpg" alt="Photo of a Shiba Inu">
   <mat-card-content>
     <p id="para">
       The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
       A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
       bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
       A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
       bred for hunting.
     </p>
   </mat-card-content>
   <mat-card-actions id="actions">
     <button mat-button><i class="material-icons">favorite_border</i></button>
     <button mat-button><i class="material-icons">chat_bubble_outline</i></button>
     <button mat-button><i class="material-icons">mood</i></button>
     <button mat-button><i class="material-icons">mood_bad</i></button>
     <button mat-button><i class="material-icons">sentiment_very_dissatisfied</i></button>
   </mat-card-actions>
 </mat-card>
 <br>
 <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Soch <span style="font-size:15px;color:lightslategrey">added a video</span></mat-card-title>
      <mat-card-subtitle><i class="material-icons" style="color:red">share</i><a href="https://www.youtube.com">youtube.com</a><span style="padding-left:120px"><i class="material-icons" style="color:red;" fxLay>date_range</i>03 Dec,2018 03:15:11 PM</span></mat-card-subtitle>
    </mat-card-header>
    <img id="img" mat-card-image src="../../assets/1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p id="para">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions id="actions">
     <button mat-button><i class="material-icons">favorite_border</i></button>
     <button mat-button><i class="material-icons">chat_bubble_outline</i></button>
     <button mat-button><i class="material-icons">mood</i></button>
     <button mat-button><i class="material-icons">mood_bad</i></button>
     <button mat-button><i class="material-icons">sentiment_very_dissatisfied</i></button>
     
   </mat-card-actions>
  </mat-card>


   <!-- Child Component Functionalities
   <br>
  <button mat-button block [routerLink]="['/test/test4']">Child Component 4 workss</button>
  <button mat-button block [routerLink]="['/test/test5']">Child Component 5 workss</button>
  <router-outlet></router-outlet> -->